.select-field {
    height: 40px !important;
    border-radius: 6px;

}

.disabled-bg:disabled {
    background-color: hsl(var(--b1) / var(--tw-bg-opacity));
    ;
    cursor: default;
    color: rgb(96, 96, 96);

}